<nav class="navbar">
  <div class="navbar-container">
    <div class="social-icons">

      <a href="https://www.tiktok.com" class="social-icon" target="_blank">
        <i class="fab fa-tiktok"></i>
      </a>

      <a href="https://www.instagram.com" class="social-icon" target="_blank">
        <i class="fab fa-instagram"></i>
      </a>

      <a href="https://www.twitter.com" class="social-icon" target="_blank">
        <i class="fab fa-twitter"></i>
      </a>

      <a href="https://www.youtube.com" class="social-icon" target="_blank">
        <i class="fab fa-youtube"></i>
      </a>
    </div>
    <a href="#" class="navbar-logo">Cinemagic</a>
    <ul class="navbar-menu">
      <li><a routerLink="/" class="navbar-item"><i class="fas fa-home"></i>Home</a></li>
      <li><a routerLink="/about" class="navbar-item"><i class="fas fa-info-circle"></i>About us</a></li>
      <li><a routerLink="/news" class="navbar-item"><i class="fas fa-newspaper"></i>News+features</a></li>
      <li><a routerLink="/products" class="navbar-item"><i class="fas fa-shopping-cart"></i>Products</a></li>
      <li><a routerLink="/quiz" class="navbar-item"><i class="fas fa-gamepad"></i>Quiz+games</a></li>
    </ul>

    <div class="navbar-right">
    </div>
  </div>
</nav>
